body {
  background-color: #fff;
}

.App {
  text-align: center;
}

.BookShelf {
  width: 90vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.BookshelfTitleBar {
  display: flex;
  width: 90vw;
  height: 56px;
  background-color: #293132;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
}

.BookshelfTitle {
  width: 220px;
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(240, 247, 244,.6);
}

.BookshelfTitle h3 {
  margin-left: 20px;
}

.BookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Book {
  padding: 10px;
  margin: 20px 40px;
  display: flex;
  width: 128px;
  height: 193px;
  border: rgb(66, 66, 66) solid 1px;
  background-color: rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
}